.headerWrapper {
  width: 100%;
  height: 7vh;
  border-bottom: 1px solid var(--foreground);
  display: flex;
  .logoWrapper {
    width: 10vh;
    border-inline-end: 1px solid black;
  }
  .logo {
    width: 100%;
    height: 100%;
    path {
      fill: var(--logo-color);
    }
  }

}